<!doctype html>
<html lang="en">

<head>
  {{> header_dark}}
  <title>New Arrest Report - FiveCAD</title>
  <style>
    .autocomplete-item {
      cursor: pointer;
    }

    .autocomplete-item:hover {
      background-color: var(--gray-500);
    }

    .autocomplete-list {
      z-index: 1000;
    }

    .autoComplete_highlighted {
      font-weight: bold;
    }
  </style>
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    {{> navbar}}
  </header>

  <div class="container-fluid text-light">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
        <div class="position-sticky pt-3">
          {{> sidebar_nav}}
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex flex-column justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">New Arrest Report</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/reports">Field Reporting</a></li>
              <li class="breadcrumb-item"><a href="/reports/new">New Report</a></li>
              <li class="breadcrumb-item active">New Arrest Report</li>
            </ol>
          </nav>
        </div>

        <div>
          <form class="row g-3">
            {{!-- Row --}}
            <div class="col-md-12">
              <h3 class="text-center">New Arrest Report</h3>
            </div>
            {{!-- Row End --}}
            {{!-- Row --}}
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="casenumber">
                <label for="casenumber">Case Number</label>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary align-middle" id="caseAssign">
                <i data-feather="file-plus"></i> Assign Case No
              </button>
            </div>
            <div class="col-md-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="arrestDate">
                <label for="arrestDate">Arrest Date</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="arrestTime">
                <label for="arrestTime">Arrest Time</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="department" disabled value="SAST">
                <label for="department">Department</label>
              </div>
            </div>
            {{!-- Row End --}}
            <hr />
            <div class="col-md-12">
              <h5>Person Information</h5>
            </div>
            {{!-- Row --}}
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="dlNumber">
                <label for="city">DL Number</label>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary align-middle" id="personSearch" data-bs-toggle="modal" data-bs-target="#personSearchModal">
                <i data-feather="search"></i> Search
              </button>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="dlExpire" disabled>
                <label for="dlExpire">DL Exiration Date</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="validCDL" disabled>
                <label class="form-check-label" for="validCDL">Valid CDL</label>
              </div>
            </div>
            {{!-- Row End --}}
            {{!-- Row --}}
            {{> form_civ disable=true}}
            {{!-- Row End --}}   
            {{!-- Row --}}
            <div class="col-md-10">
              &nbsp;
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary"><i data-feather="user-plus"></i>Add Person</button>
            </div>
            {{!-- Row End --}}
            <hr />
            <div class="col-md-12">
              <h5>Vehicle Information</h5>
            </div>
            {{!-- Row --}}
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="vehicleTag">
                <label for="vehicleTag">Vehicle Tag</label>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary align-middle" id="vehicleSearch"><i data-feather="search"></i> Search</button>
            </div>
            <div class="col-md-4">
              <h5>&nbsp;</h5>
            </div>
            {{!-- Row End --}}
            {{!-- Row --}}
            <div class="col-md-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="vehicleYear" disabled>
                <label for="vehicleYear">Year</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="vehicleMake" disabled>
                <label for="vehicleMake">Vehicle Make</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="vehicleModel" disabled>
                <label for="vehicleModel">Vehicle Model</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="vehicleColour" disabled>
                <label for="vehicleColour">Vehicle Color</label>
              </div>
            </div>
            {{!-- Row End --}}
            {{!-- Row --}}
            <div class="col-md-10">
              &nbsp;
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary"><i data-feather="plus"></i>Add Vehicle</button>
            </div>
            <hr />
            <div class="col-md-12">
              <h5>Charges</h5>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="chargeDesc">
                <label for="violationDesc">Charge Description</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="chargeChap" disabled>
                <label for="violationChap">Chapter</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="chargeSec" disabled>
                <label for="violationSec">Section</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="chargeSub" disabled>
                <label for="violationSub">Subsection</label>
              </div>
            </div>
            <div class="col-md-10">
              &nbsp;
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary"><i data-feather="plus"></i>Add Charge</button>
            </div>
            <hr/>
            <div class="col-md-12">
              <h5>Drugs</h5>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="drugAmount">
                <label for="drugAmount">Drug Amount</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="drugUnit">
                <label for="drugAmount">Unit</label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-floating">
                <input type="text" class="form-control" id="drugDescription">
                <label for="drugDescription">Drug Description</label>
              </div>
            </div>
            <div class="col-md-10">
              &nbsp;
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary"><i data-feather="plus"></i>Add Drug</button>
            </div>
            <hr/>
            <div class="col-md-12">
              <h5>Property</h5>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="propertyAmount">
                <label for="drugAmount">Property Amount</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="propertyValue">
                <label for="propertyValue">Value</label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-floating">
                <input type="text" class="form-control" id="propertyDescription">
                <label for="propertyDescription">Property Description</label>
              </div>
            </div>
            <div class="col-md-10">
              &nbsp;
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary"><i data-feather="plus"></i>Add Property</button>
            </div>
            <hr/>

            <div class="col-md-12">
              <h5>Arrest Location information</h5>
            </div>
            {{!-- Row --}}
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="violationAddressPostal">
                <label for="violationAddressPostal">Arrest Address Postal</label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-floating">
                <input type="text" class="form-control" id="violationAddressStreet">
                <label for="violationAddressStreet">Arrest Address Street</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="violationAddressSuffix">
                <label for="violationAddressSuffix">Arrest Address Suffix</label>
              </div>
            </div>
            {{!-- Row End --}}
            {{!-- Row --}}
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="city">
                <label for="city">Arrest City</label>
              </div>
            </div>
            <div class="col-md-6">
              <h5>&nbsp;</h5>
            </div>
            {{!-- Row End --}}
            <hr />
            <div class="col-md-12">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Narrative" id="narrative" style="height: 200px;"></textarea>
                <label for="narrative">Narrative</label>
              </div>
            </div>
            {{!-- Row --}}
            <div class="col-md-12">
              <h6> 
                By sigining below, I certify that this arrest report is true and accurate to the best of my knowledge. 
              </h6>
            </div>
            {{!-- Row End --}}
            {{!-- Row --}}
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control" id="officerName" value="Madison Arituro" disabled>
                <label for="officerName">Officer Name</label>
              </div>
            </div>
            <div class="col-md-4">
              <h5>&nbsp;</h5>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control" id="officerSignature" value="Madison Arituro" disabled style="font-family: 'Pacifico', cursive;">
                <label for="officerSignature">Officer Signature</label>
              </div>
            </div>
            {{!-- Row End --}}
            {{!-- Row --}}
            <div class="col-md-8">
              <h5>&nbsp;</h5>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">Submit Arrest Report</button>
            </div>
            {{!-- Row End --}}
            <div class="col-md-12">
              <h5>&nbsp;</h5>
            </div>
          </form>
        </div>
      </main>

      {{!-- 
      
      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      !!!!!!!!!!!!!!!!!!!!!!!!!   MODALS   !!!!!!!!!!!!!!!!!!!!!!!!!!!
      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

       --}}

      <div class="modal fade" id="personSearchModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Search for a DL Number</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="row g-3">
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="personSearchFirst">
                    <label for="personSearchFirst">First Name</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="personSearchLast">
                    <label for="personSearchLast">Last Name</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="date" class="form-control" id="personSearchDOB">
                    <label for="personSearchDOB">Date of Birth</label>
                  </div>
                </div>
              </form>
              <hr>
              <h4 class="text-center">Results</h4>
              <table class="table" id="personSearchResultsTable">
                <thead>
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Race</th>
                    <th scope="col">Gender</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <td>Madison</td>
                  <td>Arituro</td>
                  <td>W</td>
                  <td>F</td>
                  <td><button class="btn btn-primary personSearchResultItem" data-dlnumber="dlnumber">Select</button></td>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@8.2.1/dist/js/autoComplete.min.js"></script>
  <script src="dashboard.js"></script>
  <script src="/js/arrest.js"></script>
  <script>
    feather.replace();
  </script>
  <script>
    var currentDate = new Date();
    document.getElementById('arrestDate').value = (currentDate.getMonth() + 1) + '/' + currentDate.getDate() + '/' + currentDate.getFullYear()
    document.getElementById('arrestTime').value = currentDate.getHours() + ':' + currentDate.getMinutes()
  </script>
</body>

</html>