<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/cad" id="sidebar-cad">
      <i data-feather="monitor"></i>
      CAD
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/search" id="sidebar-search">
      <i data-feather="search"></i>
      Record Search
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ecitations" id="sidebar-ecitations">
      <i data-feather="radio"></i>
      eCitations
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cases" id="sidebar-cases">
      <i data-feather="briefcase"></i>
      Cases
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/fieldreports" id="sidebar-fieldreports">
      <i data-feather="edit-3"></i>
      Field Reporting
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/civilian" id="sidebar-civilian">
      <i data-feather="user"></i>
      Civilian Ped Management
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin" id="sidebar-admin">
      <i data-feather="users"></i>
      Administrative
    </a>
  </li>
</ul>